@font-face {
	font-family: 'CCWallScrawler';
	src: url('../assets/fonts/CCWallScrawler_Italic_Cyrillic.eot');
	src: local('☺'), url('../assets/fonts/CCWallScrawler_Italic_Cyrillic.woff') format('woff'), url('../assets/fonts/CCWallScrawler_Italic_Cyrillic.ttf') format('truetype'), url('../assets/fonts/CCWallScrawler_Italic_Cyrillic.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'F...VERMONT';
	src: url('../assets/fonts/F__VERMONT.eot');
	src: local('☺'), url('../assets/fonts/F__VERMONT.woff') format('woff'), url('../assets/fonts/F__VERMONT.ttf') format('truetype'), url('../assets/fonts/F__VERMONT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FoglihtenNo06';
	src: url('../assets/fonts/foglihtenno06.eot');
	src: local('☺'), url('../assets/fonts/foglihtenno06.woff') format('woff'), url('../assets/fonts/foglihtenno06.ttf') format('truetype'), url('../assets/fonts/foglihtenno06.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.header {
    background-color: #effafc;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.basket {
	margin-left: auto;
	width: 80px;
	height: 80px;
}

.title {
    font-family: 'FoglihtenNo06';
    color: #62cee8;
}

.logo {
    width: 80px;
    height: 80px;
}

.postContainer {
	background-color: #d5eff5;
}

.poster {
	display: block;
	margin: auto;
	height: 50vh;
}

.product-item_img-container {
  width: 15rem;
}

.product-item_img {
  width: inherit;
}