@font-face {
  font-family: "CCWallScrawler";
  src: url("../assets/fonts/CCWallScrawler_Italic_Cyrillic.eot");
  src: local("☺"), url("../assets/fonts/CCWallScrawler_Italic_Cyrillic.woff") format("woff"),
    url("../assets/fonts/CCWallScrawler_Italic_Cyrillic.ttf") format("truetype"),
    url("../assets/fonts/CCWallScrawler_Italic_Cyrillic.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "F...VERMONT";
  src: url("../assets/fonts/F__VERMONT.eot");
  src: local("☺"), url("../assets/fonts/F__VERMONT.woff") format("woff"), url("../assets/fonts/F__VERMONT.ttf") format("truetype"),
    url("../assets/fonts/F__VERMONT.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FoglihtenNo06";
  src: url("../assets/fonts/foglihtenno06.eot");
  src: local("☺"), url("../assets/fonts/foglihtenno06.woff") format("woff"),
    url("../assets/fonts/foglihtenno06.ttf") format("truetype"), url("../assets/fonts/foglihtenno06.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.header {
  background-color: #effafc;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.basketContainer {
  position: relative;
  margin-left: auto;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.basket {
  position: absolute;
}

.amount {    
  background-color: #d5e2eb;
  color: rgb(98, 206, 232);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* background-color: rgb(169, 169, 169); */
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.title {
  font-family: "FoglihtenNo06";
  color: #62cee8;
  cursor: pointer;
}

.logo {
  width: 80px;
  height: 80px;
}

.postContainer {
  background-color: #d5eff5;
}

.poster {
  display: block;
  margin: auto;
  height: 50vh;
}

.booksContainer {
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

/* Main */
/* Footer */
.footer {
  width: 100vw;
  background-color: #effafc;
}

.footer_container {
  padding: 15px;
}

.footer_info__container {
  display: flex;
  justify-content: space-between;
}

.footer_title {
  color: #62cee8;
  font-family: "FoglihtenNo06";
}

.email {
  color: #62cee8;
  font-family: "FoglihtenNo06";
  font-size: 1.1em;
}

.phone {
  color: #62cee8;
  font-family: "FoglihtenNo06";
  font-size: 1.1em;
}

.location {
  color: #62cee8;
  font-family: "FoglihtenNo06";
  font-size: 1.1em;
}

/* Book card */
.book-item {
  padding: 5px;
  width: 18rem;
  border: 2px solid #d5eff5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.book-item_title {
  font-family: "FoglihtenNo06";
  text-align: center;
}

.book-item_price {
  font-size: 24px;
  color: #333;
  font-weight: 800;
  margin-bottom: 18px;
}

.book-item_img-container {
  width: 15rem;
}

.book-item_img {
  width: inherit;
}

.book-btn-show,
.book-btn-add,
.btn-confirm {
  font-family: "FoglihtenNo06";
  margin-top: 15px;
  padding: 10px 15px;
  border: 1px solid #bae7f0;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  background-color: cadetblue;
}

/* Book card popup */
.popup {
  background: transparent;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: none;
}

.popup-close {
  position: relative;
  left: 100%;
  width: 52px;
  height: 52px;
  border: 2px solid rgba(241, 205, 179, 1);
  border-radius: 50%;
  background: transparent;
}

.popup-container {
  width: 900px;
  min-height: 500px;
  background: rgba(250, 250, 250, 1);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.popup-overlay:hover {
  cursor: pointer;
}

.popup-title {
  padding-bottom: 10px;
  color: #000000;
}

.popup-subtitle {
  padding-bottom: 40px;
  font-family: var(--font-title);
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.popup-information {
  padding-bottom: 40px;
  font-family: var(--font-title);
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
}

.popup-list {
  list-style: disc;
  list-style-position: inside;
  color: rgba(241, 205, 179, 1);
}

.popup-item {
  padding-bottom: 10px;
  font-family: var(--font-title);
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.06em;
  font-family: Georgia;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.06em;
}

.lock {
  overflow: hidden;
}

.active {
  display: block;
}

._active {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(41, 41, 41, 0.6);
  z-index: 1;
}

/* Cart window */
.cart-window {
  width: 900px;
  border-radius: 15px;
  background-color: #c3eff7;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: none;
}

.cart-window_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin: 15px auto;
  padding: 15px;
  width: 700px;
  min-height: 150px;
  background: rgba(250, 250, 250, 1);
  border-radius: 10px;
}

.btn-confirm {
  display: block;
  margin: 15px auto;
}

.total-order_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.total-items {
  font-family: "CCWallScrawler";
  font-size: 25px;
}

.total-amount {
  font-family: "CCWallScrawler";
  font-size: 25px;
}

.cart-window_close {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #333;
  position: relative;
  left: 97%;
  bottom: 25px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #c3eff7;
  border: 2px solid #effafc;
  cursor: pointer;
}

.cart-window_img {
  width: 100px;
  height: 135px;
}

.cart-window_title {
  width: 250px;
}

.open_cart {
  display: block;
}

.lock_cart {
  overflow: hidden;
}

.minus {
  width: 21px;
  height: 20px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #2196f3;
  cursor: pointer;
}

.plus {
  width: 21px;
  height: 20px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #2196f3;
  cursor: pointer;
}

.delete {
  font-family:'Open Sans', sans-serif;
  width: 21px;
  height: 20px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #2196f3;
  cursor: pointer;
}

/* Order Page */
.info_container {
  width: 100vw;
  padding: 20px 0;
}

.form_container {
  width: 100vw;
  background-color: #d5eff5;
  padding:20px 0;
}

.info_content {
  margin: 0 auto;
}

.form_content {
  margin: 0 auto;
}

.delivery_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.box-input_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 150px;
}

.box-radio_label,
.box-check_label {
  font-family: "FoglihtenNo06";
  color: #62cee8;
}

.mistake {
  border: 2px solid red;
}

.name-mistake_container,
.surname-mistake_container,
.date-mistake_container,
.street-mistake_container, 
.house-mistake_container,
.apartment-mistake_container {
  color: red;
}